@import url('https://fonts.cdnfonts.com/css/nexa');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
}

#brand {
  text-decoration: underline;
  text-decoration-color: #8adfbd;
}

#home {
  display: grid;
  grid-template-areas: 'nav'
    's1'
    'ft';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#footer {
  grid-area: ft;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  background-color: #ffffff;
}

#nav {
  grid-area: nav;
}

#navbar {
  background-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

#s1 {
  grid-area: s1;
}

#s1-container {
  display: grid;
  grid-template-areas: 'box1 box1 box1 box1'
    'showcase showcase showcase showcase';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 15px;
  gap: 1rem;
}

#box1 {
  grid-area: box1;
  background-color: #f8f9fa;
  border-radius: 0px;
  display: grid;
  grid-template-areas: 'headings headings headings'
    'avatars avatars avatars';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  color: #424242;
}

#headings {
  grid-area: headings;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


#title {
  font-size: 3rem;
  padding: 10px;
}

#subtitle {
  font-size: 1.4rem;
  padding: 10px;
  color: #a3a3a3;
  font-weight: 300;
}

#exploreBtn {
  background-color: #ddf4fe;
  padding: 10px 40px;
}

#avatars {
  grid-area: avatars;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
    font-weight: 300;
}

#av-text {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#avatar-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#av1 {
  -webkit-animation: roll-in-right 1.5s ease-out;
  animation: roll-in-right 1.5s ease-out;
}

#showcase {
  grid-area: showcase;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#btn {
  background-color: #ffffff;
  margin: .5px;
}

.slick-prev {
  left: -3px !important;
  z-index: 1;
  width: 50px !important;
  height: 50px !important;
}

.slick-next {
  right: -3px !important;
  z-index: 1;
  width: 50px !important;
  height: 50px !important;
}

.slick-next:before,
.slick-prev:before {
  content: none !important;
}

#content {
  display: grid;
  grid-template-areas: 'image';
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
  height: 100%;
  margin: .2rem;
}

#carousel-text {
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  padding: 10px;
}

#image {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  grid-area: image;
}

#category {
  color: #787878;
  font-size: .75rem;
}

#link {
  text-decoration: none;
  color: inherit;
}

/*Quiz Layout*/
#quiz-layout {
  display: grid;
  grid-template-areas: 'nav2 nav2 nav2'
    's2 s2 s2'
    'ft2 ft2 ft2';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 2fr .5fr;
}


#nav2 {
  grid-area: nav2;
}

.navbar-brand {
  color: #424242 !important;
}

#s2 {
  grid-area: s2;
}

#footer2 {
  grid-area: ft2;
  background-color: #ffffff;
}


#quiz-box {
  background-color: #fcfcfc;
  border: none;
  padding: 60px 0px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Question & Answers*/
#quiz-h1 {
  color: #2e2e2e;
  padding: 10px;
  font-family: 'Nexa', sans-serif;
  font-weight: bold;
}

#quiz-h5 {
  color: #424242;
  font-family: 'Nexa', sans-serif;
}

#questions {
  display: grid;
  color: #2e2e2e;
  padding: 50px 0px;
}

.quiz-question {
  line-height: 1.5;
}

#nextBtn,
#doneBtn {
  background-color: #fdfdfd !important;
  color: #424242 !important;
      border-radius: 0px;
}

#nextBtn:hover,
#doneBtn:hover {
  background-color: #eaedf1 !important;
}

#logo-div {
  padding: 20px;
  grid-column: span 2;
}

#h1-div {
  padding: 20px;
  grid-column: span 2;
}

#next-button {
  grid-column: span 2;
}

#nextBtn {
  width: 50%;
}

#progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total {
  color: #424242;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.message {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@media(min-width: 1440px) {
  #s1-container {
      display: grid;
      grid-template-areas: 'box1 box1 box1 box1'
        'showcase showcase showcase showcase';
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 2fr 1.4fr;
      padding: 15px;
      gap: 1rem;
    }

        /*Quiz Layout*/
        #quiz-layout {
          display: grid;
          grid-template-areas: 'nav2 nav2 nav2'
            's2 s2 s2'
            'ft2 ft2 ft2';
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto 4fr .5fr;
        }
}

@media (min-width: 1023px) {
  .answer1:hover,
  .answer2:hover,
  .answer3:hover,
  .answer4:hover {
    background-color: #eaedf1 !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #title {
    font-size: 2.5rem;
    padding: 10px;
  }

  #subtitle {
    font-size: 1.2rem;
    padding: 10px;
  }

  #nextBtn {
    width: 100%;
    border-radius: 0px;
  }

}

@media (max-width: 767px) {
  #title {
    font-size: 2rem;
    padding: 10px;
  }

  #subtitle {
    font-size: 1rem;
    padding: 10px;
  }

  #nextBtn {
    width: 100%;
        border-radius: 0px;
  }

}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}



@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}


@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1
  }
}