@import url('https://fonts.cdnfonts.com/css/nexa');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');



* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
}

#home {
  display: grid;
  grid-template-areas: 'nav'
    's1'
    'ft';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#footer {
  grid-area: ft;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  background-color: #ffffff;
}

#nav {
  grid-area: nav;
  width: 100%;
    background-color: #f4f4f4ef !important;
}

#navbar {
  background-color: transparent !important;
  font-size: 1rem;
}

#fab {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

#logo {
  font-size: .85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
}

#logo2 {
  font-size: .7rem;
  border: solid 1px;
  padding: 0px 10px;
  border-radius: 25px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.css-ov8ytu-JoyDrawer-content {display: flex;
  justify-content: center;
  align-items: center;}

#s1 {
  grid-area: s1;
}

#s1-container {
  display: grid;
  grid-template-areas: 'box1 box1 box1 box1'
    'showcase showcase showcase showcase';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0rem;
  background-color: #f4f4f4ef;
}

#box1 {
  grid-area: box1;
  background-color: #f4f4f4ef;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    'headings headings headings';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 60px;
  margin: 5px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  color: #424242;
  border-radius: 0px;
}

#menu {
  border: solid 1px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#headings {
  padding: 25px 50px;
  grid-area: headings;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#title-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

#image-title {
  max-width: 500px;
  max-height: 500px;
  display: none;
}

#brand {
  font-size: 9.5rem;
  color: #2e2e2e;
  font-weight: 600;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.05),
    10px 20px 5px rgba(0, 0, 0, 0.02),
    -10px 20px 5px rgba(0, 0, 0, 0.0);
  letter-spacing: 0px;
  text-indent: 0px;
}

#title {
  font-size: 7rem;
  color: #2e2e2e;
  font-weight: 600;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.05),
    10px 20px 5px rgba(0, 0, 0, 0.02),
    -10px 20px 5px rgba(0, 0, 0, 0.0);
  letter-spacing: 25px;
}

#subtitle {
  font-size: 1.4rem;
  padding: 10px;
  color: #a3a3a3;
  font-weight: 300;
}

#exploreBtn {
  background-color: #eef9fb;
  padding: 10px 40px;
}

#avatars {
  grid-area: avatars;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  font-weight: 300;
}

#search-img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#av-text {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  color: #a3a3a3;
  font-weight: 300;
}

#avatar-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-logo {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#av1 {
  -webkit-animation: roll-in-right 1.5s ease-out;
  animation: roll-in-right 1.5s ease-out;
}

#showcase {
  grid-area: showcase;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  background-color: transparent;
  border-radius: 15px;
}

#btn {
  background-color: #ffffffe9;
  margin: .5px;
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  z-index: 1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#cards {
  border-radius: 0px;
  height: 35vh;
  border: none;
  margin: 0;
}

.slick-dots {
  position: static;
}

.slick-prev {
  left: -8px !important;
  overflow: hidden !important;

}

.slick-next {
  right: -8px !important;
  overflow: hidden !important;
}

.slick-next:before,
.slick-prev:before {
  content: none !important;
}

#carousel {
  height: auto;
  overflow: hidden;
}

#carousel-text {
  background-color: #c2c2c2;
  width: 100%;
  text-align: left;
  padding: 10px;
  display: none;
}



#category {
  color: #787878;
  font-size: .75rem;
  display: flex;
}

#link {
  text-decoration: none;
  color: inherit;
}


/*Quiz Layout*/
#quiz-layout {
  display: grid;
  grid-template-areas: 'nav2 nav2 nav2'
    's2 s2 s2'
    'ft2 ft2 ft2';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 2fr auto;
}


#nav2 {
  grid-area: nav2;
}

.navbar-brand {
  color: #424242 !important;
}

#s2 {
  grid-area: s2;
}

#footer2 {
  grid-area: ft2;
  background-color: #ffffff;
}


#quiz-box {
  background-color: #fcfcfc;
  border: none;
  padding: 60px 0px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz-box-2 {
  background-color: #fcfcfc;
  border: none;
  padding: 0px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Question & Answers*/
#quiz-h1 {
  color: #424242;
  padding: 10px;
  font-family: 'Montserrat', sans-serif !important;
}

#quiz-h5 {
  color: #424242;
  font-family: 'Nexa', sans-serif;
}

#quiz-h6 {
  color: #424242;
  font-family: 'Nexa', sans-serif;
  font-size: 1.3rem;
  padding: 15px;
}

#questions {
  color: #2e2e2e;
  padding: 50px 0px;
}

#question-div {
  width: 100%;
  display: grid;
  grid-template-areas: 'a1 a2'
    'a3 a4';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px 50px;
}

.answerBorder {
  border: 0.1px solid #dae2ed98 !important;
}

.notSelectedAnswer {
  color: #e2e1e1 !important;
  border: 0.1px solid #e9edf0 !important;
}

.correctAnswer {
  border: 0.8px solid #39833b !important;
  background-color: #edf2f1;
  color: #39833b !important;

}

.incorrectAnswer {
  border: 0.8px solid #d3302f !important;
  background-color: #f4eff1;
  color: #d3302f !important;
}


.answer1 {
  grid-area: a1;
  border-radius: 5px !important;
}

.answer2 {
  grid-area: a2;
  border-radius: 5px !important;
}

.answer3 {
  grid-area: a3;
  border-radius: 5px !important;
}

.answer4 {
  grid-area: a4;
  border-radius: 5px !important;
}



#results {
  color: #2e2e2e;
  padding: 50px 0px;
}

.quiz-question {
  line-height: 1.5;
}

#retryBtn,
#doneBtn {
  background-color: #fdfdfd !important;
  color: #424242 !important;
  border-radius: 0px;
}

#retryBtn:hover,
#doneBtn:hover {
  background-color: #eaedf1 !important;
}

#logo-div {
  padding: 20px;
  grid-column: span 2;
}

#h1-div {
  padding: 20px;
  grid-column: span 2;
}

#next-button {
  grid-column: span 2;
}

#nextBtn {
  width: 50%;
}

#progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


#total {
  color: #424242;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.message {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@media(min-width: 1440px) {
  #s1-container {
    display: grid;
    grid-template-areas: 'box1 box1 box1 box1'
      'showcase showcase showcase showcase';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75vh auto auto;
    gap: 0rem;
  }

  /*Quiz Layout*/
  #quiz-layout {
    display: grid;
    grid-template-areas: 'nav2 nav2 nav2'
      's2 s2 s2'
      'ft2 ft2 ft2';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media (min-width: 1023px) {

  .a1:active,
  .a2:active,
  .a3:active,
  .a4:active {
    background-color: #eaedf184 !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #title {
    font-size: 5.5rem;
    padding: 10px;
  }


  #image-title {
    max-width: 300px;
    max-height: 300px;

  }

  #brand {
    font-size: 6.5rem;
    color: #2f2f2f;
    font-weight: 600;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.05),
      10px 20px 5px rgba(0, 0, 0, 0.02),
      -10px 20px 5px rgba(0, 0, 0, 0.0);
    letter-spacing: 5px;
    text-indent: 5px;
  }

  #question-div {
    border-radius: 20px;
    width: 100%;
    display: grid;
    grid-template-areas: 'a1'
      'a2'
      'a3'
      'a4';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0px 20px;
  }

  #subtitle {
    font-size: 1.2rem;
    padding: 10px;
  }

  #nextBtn {
    width: 100%;
    border-radius: 0px;
  }


}

@media (max-width: 767px) {
  #title {
    font-size: 3rem;
    padding: 10px;
    letter-spacing: 20px;
  }


  #image-title {
    max-width: 300px;
    max-height: 300px;
  }

  #brand {
    font-size: 5rem;
    color: #2f2f2f;
    font-weight: 600;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.05),
      10px 20px 5px rgba(0, 0, 0, 0.02),
      -10px 20px 5px rgba(0, 0, 0, 0.0);
    letter-spacing: 5px;
    text-indent: 5px;
  }

  #subtitle {
    font-size: 1rem;
    padding: 10px;
  }

  #nextBtn {
    width: 100%;
    border-radius: 0px;
  }

  #question-div {
    border-radius: 20px;
    width: 100%;
    display: grid;
    grid-template-areas: 'a1'
      'a2'
      'a3'
      'a4';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0px 20px;
  }

  #cards {
    border-radius: 0px;
    height: 35vh;
      border: none;
        margin: 0;
  }

  #retryBtn {
    width: 30% !important
  }

  #doneBtn {
    width: 30% !important
  }

}



@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}



@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}


@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1
  }
}


/*Tracking Out*/
@-webkit-keyframes tracking-out-expand-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px) translateY(-200px);
    transform: translateZ(300px) translateY(-200px);
    opacity: 0;
  }
}

@keyframes tracking-out-expand-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px) translateY(-200px);
    transform: translateZ(300px) translateY(-200px);
    opacity: 0;
  }
}








#main-design {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50vh auto;
  grid-template-areas: 'nd'
    'ms'
    'fs';
}

#nav-design {
  grid-area: nd;
  background-color: #2e2e2e;
}

#main-section {
  grid-area: ms;
  background-color: #e32222;
  display: flex;
  justify-content: center;
  align-items: center;

}

#shape {
  background-color: #a3a3a3;

}

#foot-section {
  grid-area: fs;
  background-color: #0c1d4c;
}