@import url('https://fonts.cdnfonts.com/css/nexa');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}


body {
  background-color: #ffffff;

}

#main-h5 {
  color: #424242;
}

#main-h1 {
  color: #424242;
  font-size: 500%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 500px auto auto auto 50px;
  gap: 10px;
  padding: 10px;
}

#nav-box {
  grid-column: span 3;
  color: black;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

nav {
  border-radius: 40px;
}

.nav-link,
.navbar-brand {
  padding-right: 30px;
}

#main-box {
  grid-column: span 3;
  border-radius: 20px;
  background-color: #f5f7f9;
  background-image: url("https://www.transparenttextures.com/patterns/straws.png");
  background-size: auto;
  background-position: 1%;
  border: none;
}

.container {
  margin: auto;
}

#extra-box-1 {
  border-radius: 20px;
  background-color: #ffffff;
  color: #424242;
  background-size: cover;
  border: none;
  grid-column: span 3;
}

.box-1-card {
  border: none;
  padding: 0% 15%;
  border-radius: 20px;
}

#image-content {
  width: 100%;
  border-radius: 60px;
  height: 300px;
  object-fit: cover;
  padding: 30px;
  margin: 50px 0px;
}

#p-card-content {
  line-height: 2;
  margin: 50px;
  text-align: left;
}

#h3-card-content {
  line-height: 2;
  margin: 50px;
  text-align: left;
}

#p-card-content-2 {
  line-height: 2;
  margin: 50px;
  text-align: left;
}

#h3-card-content-2 {
  line-height: 2;
  margin: 50px;
  text-align: left;
}

#footer {
  grid-column: span 3;
  border-radius: 20px;
  background-color: #f5f7f9;
  color: #717171;
  font-size: 70%;
}

#footer-text {
  margin: auto;
  padding: 20px;
}

/*Home Section */
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 600px;
  gap: 10px;
  padding: 10px;
}

#button-base {
  grid-column: span 3;
}

.carousel-container {
  width: 100%;
  padding: 50px;
}

#quiz-menu-h1 {
  color: #424242;
  font-size: 350%;
  padding: 30px;
}

#quiz-box {
  grid-column: span 3;
  border-radius: 20px 20px 20px 20px;
  background-color: #f5f7f9;
  background-size: cover;
  background-position: 1%;
  border: none;
}

/*Question & Answers*/
#main-content {
  display: grid;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 100vh;
  gap: 10px;
  padding: 10px;
}

#quiz-h1 {
  color: #2e2e2e;
  padding: 10px;
  font-family: 'Nexa', sans-serif;
  font-weight: bold;

}

#quiz-h5 {
  color: #424242;
  font-family: 'Nexa', sans-serif;
}

#questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #2e2e2e;
}

#logo-div {
  padding: 20px;
  grid-column: span 2;
}

#h1-div {
  padding: 20px;
  grid-column: span 2;
}

#next-button {
  grid-column: span 2;
}

#progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#total {
  color: #424242;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}